body {
    background-color: lightgray;
    font-size: large
}

h1 {
    color: black;
    text-align: center;
}

.short {
/*    color: #00acd1;*/
    /*font-weight: bold;*/
    font-size: larger;
}

.long {
    color: black;
}

.usage {
    font-family: monospace;
    font-size: larger;
    font-weight: bold;
}

.deprecated {
    background-color: yellow;
    color: red;
    font-size: xx-large;
}

.code {
}

.stdout {
    background-color: palegreen;
    background-size: 100%;
}

.stderr {
    background-color: pink;
    background-size: 100%;
}

.fct {
    color: black;
}

.req_arg {
    color: #9c0900;
}

.opt_arg {
    color: #009c4a;
}

/* Function arguments */
.default {
    background-color: #444444;
    font-size: 10px;
}

.name {
    font-family: monospace;
}

.type {
    font-family: monospace;
    text-align: center;
}

.span {
    font-family: monospace;
    text-align: center;
}

.values {
    font-family: monospace;
    text-align: center;
}

.desc {
    text-align: justify;
}

.arg-colname {
    background-color: DarkTurquoise;
}

/* Inouts table */
.inouts-colname {
    background-color: PaleGoldenRod;
}

/* Default table */
caption {
    caption-side: bottom;
    font-weight: bold;
}

th {
    border: 2px solid;
    border-color: black;
    font-weight: bold;
    padding: 5px;
}

td {
    border: 2px solid;
    border-color: black;
    padding: 5px;
}

table {
    border-collapse: collapse; /* Single line between cells. */
}
